{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "tailwindAttributes": ["class", "ui"],
  "bracketSameLine": true,
  "semi": false,
  "singleQuote": true
}
